﻿@model Library.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <form class="submit-form" method="post" enctype="multipart/form-data" asp-action="Login">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group row">
                <label asp-for="UserName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-5">
                    <input asp-for="UserName" type="text" class="form-control" placeholder="User Name" required>
                    <span asp-validation-for="UserName"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Password" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-5">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-check">
                    <input asp-for="RememberMe" type="checkbox" class="checkbox-inline">
                    <label asp-for="RememberMe" class="form-check-label"></label>
                </div>
                <span asp-validation-for="RememberMe"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">
                        Login
                    </button>
                    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Register", "Account")'">
                        Register
                    </button>
                </div>
                <div class="register col-sm-10">Please register if you dont have an account</div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}